body, html { 
  margin: 0; 
  min-height: 100vh; 
  max-height: 100vh; 
}

body { 
  font-family: 'Segoe UI', sans-serif;  
  background-color: #080404;
  color: #d9d1ee; 
  display: flex;
  align-items: center;  
  justify-content: center;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px; 
}

.conteudo { 
  padding: 1%;
  display: grid;
  place-items: center; 
}

.key {
  width: 40px; 
  height: 40px; 
  margin: 0px;
  border-radius: 6px;
  text-align: center;
  justify-content: center;
}

.keyboard {
  width: 100%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 2px 4px;
}

.teclado {
  margin: 16px;
  margin-bottom: 10px;
}

button {
  border: none;
  color: #080404;
  font-size: 16px;  
  font-weight: 550;
  cursor: pointer;
  text-align: center;
  align-self: center;
  background-color: #9592be;
}

button:hover {
  background-color: transparent;  
  color: #5f74eb;
  font-weight: 600;
}

.enter {          
  height: 40px; 
  border-radius: 6px;
  padding: 5.5px 15px 5.5px 17px;
}

.backspace {  
  width: 40px; 
  height: 32px; 
  border-radius: 6px;
}

.reiniciar {       
  margin: 16px;
  margin-bottom: 0px;
  height: 40px; 
  border-radius: 6px;
  padding: 7.5px 35px 5.5px 35px;
}

.grid-termo {
  display: grid;
  grid-template-rows: repeat(5, 54px);
  gap: 7px;
  margin-bottom: 2%;
}

.grid-termo > .linha > .letra {
  display: grid;
  place-items: center;
  height: 100%;

  background-color: #bebebe;
  color: #2e2e2e;
  border-radius: 3px;

  font-size: 18px;
  font-weight: 800;
}

.grid-termo > .linha {
  display: grid;
  grid-template-columns: repeat(5, 54px);
  gap: 7px;
}

.letra-selecionada {
  border: 1px solid rgb(37, 30, 141);
}

.linha-selecionada {
  border: 1px dashed rgb(199, 7, 7);
}

#divMensagemFinal{
  gap: 10px;
    display: grid;
    place-items: center;
}

.letra-correta{
  background-color: rgb(34, 156, 34) !important;
}

.letra-posicao-errada{
  background-color: rgb(238, 210, 49) !important;
}

.letra-nao-existe{
  background-color: rgb(103, 103, 103) !important;
}

.display-none{
  display: none !important;
}

.cor-cinza{
  background-color: #9592be !important;
}

.cor-erro{
  color: #cf0404 !important;
}

.cor-acerto{
  color: #03da81 !important;
}